body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
}

header {
    background-color: #000;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: red;
}

nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.movie-item {
    width: 160px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.movie-item img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s;
}

.movie-item:hover img {
    transform: scale(1.05);
}
